// 選單
.nav-pills .nav-link {
  color: #141a1f;
  background-color: #fcfcfd;
  border: 1px solid #d1d9e1;
}

// active 狀態
.nav-pills .nav-link.active {
  color: #141a1f !important;
  background-color: #e0e5eb !important;
  font-weight: 400;
}
.material-icons-outlined,
.material-icons-outlined,
.material-icons-outlined,
.material-icons-outlined,
.material-icons-outlined {
  width: 20px;
  height: 20px;
}
